.container {
  margin: 20px 50px;
  display: flex;
  justify-content: space-around;
}

.container .op-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 500px;
}

.container .op-container .op__buttons,
.container .op-container .form__container {
  width: 100%;
}

.container .table-container {
  width: 50%;
}

.container .table-container table {
  width: 100%;
}

table,
td,
th {
  border: 1px solid black;
}

thead tr {
  background-color: cornflowerblue;
  font-weight: bold;
}

td,
th {
  padding: 10px 20px;
  text-align: center;
}

.chosen {
  background-color: lightgray;
}

td {
  cursor: pointer;
}

.update {
  background-color: peru;
}

.add {
  background-color: lime;
}

.delete {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed !important;
}

.sortable {
  cursor: pointer;
}

/* PAGINATION */
.table-pagination {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.table-pagination a,
.table-pagination i#button-prev,
.table-pagination i#button-next {
  padding: 10px;
  margin: 10px;
  border: 1px solid royalblue;
  font-weight: bold;
  cursor: pointer;
}

.table-pagination .current-page {
  background-color: royalblue;
}

/* END OF PAGINATION */

.loading-container {
  position: fixed; /* Sit on top of the page content */
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
/* CSS LOADERS BY lukehaas */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: fixed;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;

  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
