.op__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.op__buttons button {
    width: 100px;
}

.op__buttons #update,
.op__buttons #add,
.op__buttons #delete,
.op__buttons #save {
    padding: 10px 20px;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

.op__buttons #update {
    background-color: lightseagreen;
}

.op__buttons #add {
    background-color: aquamarine;
}

.op__buttons #delete {
    background-color: tomato;
}

.op__buttons #save {
    background-color: lightgreen;
}

.form__container {
    margin: 20px 0;
}

.form__container #form-detail {
    display: flex;
    flex-direction: column;
}

.form__container #form-detail div {
    margin: 20px;
    display: flex;
    align-items: center;
}

.form__container #form-detail div label {
    display: block;
    width: 100%;
    font-weight: bold;
}

.form__container #form-detail div input {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
}