.op__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.op__buttons button {
    width: 100px;
    padding: 10px 20px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 5px;
    margin-right: 10px;
}

.op__buttons button:hover {
    filter: brightness(95%)
}

.op__buttons #update {
    background-color: #ffcab1;
}

.op__buttons #add {
    background-color: #95ff9e;
}

.op__buttons #delete {
    background-color: #ff9090;
}

.op__buttons #save {
    background-color: cornflowerblue;
}

.form__container {
    margin: 20px 0;
}

.form__container #form-detail {
    display: flex;
    flex-direction: column;
}

.form__container #form-detail div.form-control {
    margin: 10px;
    display: flex;
    align-items: center;
}

.form__container #form-detail div.form-control label {
    display: block;
    width: 100%;
    font-weight: bold;
}

.form__container #form-detail div.form-control div.input-control {
    width: 100%;
}

.form__container #form-detail div.form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 5px;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
}

.form__container #form-detail div.form-control div.input-control .error__text {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: red;

}
  
.form__container #form-detail div.form-control div.input-control input.border--invalid {
border-color: red;
border-width: 1px;
}