.op__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.op__buttons button {
    min-width: 120px;
    padding: 10px 25px;
    border: 1px solid rgb(139, 139, 139);
    /* border: transparent; */
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    background-repeat: repeat-x;

}

.op__buttons button:hover {
    filter: brightness(95%)
}

.op__buttons #update {
    background-color: #f0ad4e;
    background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%);
    border-color: #e38d13;
}

.op__buttons #add {
    background-color: #5cb85c;
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
    border-color: #3e8f3e;
}

.op__buttons #delete {
    background-color: #d9534f;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    border-color: #b92c28;
}

.op__buttons #save {
    background-color: #5bc0de;
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    border-color: #28a4c9;
}

.form__container {
    margin: 20px 0;
}

.form__container #form-detail {
    display: flex;
    flex-direction: column;
}

.form__container #form-detail div.form-control {
    margin: 10px;
    display: flex;
    align-items: center;
}

.form__container #form-detail div.form-control label {
    display: block;
    width: 100%;
    font-weight: bold;
}

.form__container #form-detail div.form-control div.input-control {
    width: 100%;
}

.form__container #form-detail div.form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 5px;
    box-sizing: border-box;
    word-wrap: break-word;
    word-break: break-all;
}

.form__container #form-detail div.form-control div.input-control .error__text {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: red;

}
  
.form__container #form-detail div.form-control div.input-control input.border--invalid {
border-color: red;
border-width: 1px;
}