.container {
  margin: 20px 50px;
  display: flex;
  justify-content: space-around;
}

.container .op-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container .op-container .op__buttons,
.container .op-container .form__container {
  width: 100%;
}

.container .table-container {
  width: 50%;
}

.container .op-container {
  width: 35%;
}

.update td {
  background-color: #f0ad4e;
}

.add td {
  background-color: #95ff9e;
}

table tbody tr.delete td {
  opacity: 0.5;
  pointer-events: none;
  background-color: #ff9090;
}

.sortable {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .container .table-container {
    margin: 0 auto 20px;
    width: 100%;
  }

  .container .op-container {
    margin: 0 auto 20px;
    width: 80%;
  }
}